<%= form_for(@task) do |f| %>
  <div class = "field">
    <div class="label">
      <%= f.label :title %>
    </div>
    <div class="input">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class = "field">
    <div class="label">
      <%= f.label :details %>
    </div>
    <div class="input">
      <%= f.text_area :details %>
    </div>
  </div>

  <div class = "field">
    <div class="label checkbox">
      <%= f.label :completed %>
    </div>
    <%= f.check_box :completed %>
  </div>

  <%= f.submit "Send", class: "submit" %>
<% end %>
